*.iml
.gradle
build/
.idea
.DS_Store
.cxx
local.properties
xcuserdata
Pods/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.keystore
debug.keystore
/captures
.externalNativeBuild
/release
*.apk
*.aab
*.jks
*.p12
*.pfx
load_debug_alart_tool
*.log
*.hprof
keystore.properties
